  .editForm {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    transition: all 0.5s;
    position: relative;
    input {
      border: 5px solid red;
      height: 30px;
      width: 300px;
      padding: 3px;
    }

    label {
      color: white;
      font-size: 20px;
    }

    button {
      padding: 10px;
      font-size: 20px;
      margin: 5px;
    }
    
    .buttons button:first-child:hover {
      background-color: green;
    }
  
    .buttons button:last-child:hover {
      background-color: red;
    }
  }
