.PostCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(149, 137, 137);
  border-radius: 20px;
  background-color: rgb(167, 128, 128);
  overflow: hidden;
  padding: 5px;
  object-fit: contain;
  width: 19vw;
  user-select: none;

  @media screen and (max-width: 750px) {
    width: 28vw;
    margin-right: 250px;
  }

  .post-name {
    margin-top: 25px;
    color: rgb(232, 232, 232);
  }

  .post-desc {
    margin-top: 25px;
    color: #fca311;
  }

  .image {
    img {
      width: 10rem;
      height: 10rem;
      border-radius: 5rem;
    }
  }

  .buttons {
    margin-top: 25px;
    display: flex;
    button {
      margin: 0 15px;
      border: 0;
      background: none;
      font-size: 18px;
    }
  }
  .buttons button:first-child:hover {
    color: green;
  }

  .buttons button:last-child:hover {
    color: red;
  }
}
