.PostCard {
  display: flex;
  flex-direction: column;
  height: 420px;
  align-items: center;
  border: 2px solid rgb(149, 137, 137);
  border-radius: 20px;
  background-color: rgb(167, 128, 128);
  overflow: hidden;
  margin: 0 55px;
  padding: 10px 50px;
  object-fit: contain;
  width: 100%;
  user-select: none;
  overflow-x: visible;

  .post-name {
    margin-top: 25px;
    color: rgb(232, 232, 232);
  }

  .post-desc {
    margin-top: 25px;
    color: #fca311;
  }

  .image {

    img {
      width: 10rem;
      height: 10rem;
      border-radius: 5rem;
    }
  }

  .buttons {
    margin-top: 25px;
    display: flex;
    width: 100%;
    justify-content: center;
    button {
      margin: 0 15px;
      border: 0;
      background: none;
      font-size: 18px;
    }
  }
  .buttons button:first-child:hover {
    color: green;
  }

  .buttons button:last-child:hover {
    color: red;
  }
}
