.HomePage {
    display: flex;
    align-items: center;

    .posts {
        display: flex;
        align-items: center;
        overflow-x: scroll;

        & ::-webkit-scrollbar {
            display: none;
        }

    }

}